body {
	background-color: var(--background-color);
}

.site-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-header,
.site-footer {
	padding: var(--size-fluid-3);
	background-color: var(--header-footer-background);
}

.site-header {
	color: var(--heading-color);
	display: flex;
	align-items: center;
	position: relative;
	.site-header__title {
		font-family: var(--font-karla);
		font-size: 3rem;
		font-weight: bold;
		display: flex;
		align-items: center;
		text-decoration: none;
	}
}

.site-content {
	flex: 1;
}

main {
	padding: var(--size-fluid-2);
	p {
		max-width: 60ch;
	}
}

.site-footer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.default-layout {
	max-width: 56rem;
	padding-inline: 1rem;
	margin-inline: auto;
}

.sidebar-layout {
	max-width: 70rem;
	margin-inline: auto;
	display: grid;
	@media (--large) {
		grid-template-columns: 1fr 20rem;
	}

	:where(.sidebar-layout__sidebar) {
		padding: var(--size-fluid-2);
		@media (--large) {
			margin-top: var(--size-fluid-2);
			align-self: start;
			border-inline-start: 2px solid currentColor;
		}
		@media (--small-medium) {
			border-block-start: 2px solid currentColor;
		}
	}
}

.grid {
	display: var(--grid-display, grid);
	grid-template-columns: repeat(
		var(--grid-columns, auto-fill),
		minmax(min(var(--grid-min-width, 15rem), 100%), 1fr)
	);
	gap: var(--grid-gap, 1rem);
}
