:root {
	/*  Signalisiere, dass die Seite helle und dunkle Darstellung unterstützt.
	https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/#aa-handling-user-agent-styles */
	color-scheme: light dark;

	&[data-color-theme='dark'] {
		/* Sorge dafür, dass bei von den Systemeinstellungen abweichendem Theme
	auch UI-Elemente in hell oder dunkel angezeigt werden. */
		color-scheme: dark;
	}

	&[data-color-theme='light'] {
		color-scheme: light;
	}

	/* Hier eigene Farben definieren oder Farben von OpenProps nehmen.
	https://open-props.style/#colors
	*/
	--my-color: var(--stone-3);
	--imperial-red: hsl(354.8 60.6% 51.2%);
	--honeydew: hsl(105 55% 96%);
	--powder-blue: hsl(182 43% 76%);
	--celadon-blue: hsl(203 39% 44%);
	--prussian-blue: hsl(215 50% 23%);
	--black: hsl(0 10% 6%);

	/*  Variablennamen zum Beschreiben der Funktion */
	--background-color: var(--honeydew);
	--text-color: var(--prussian-blue);
	--heading-color: var(--imperial-red);
	--link-color: var(--imperial-red);
	--active-link-color: var(--celadon-blue);
	--header-footer-background: var(--powder-blue);
	--header-color: var(--imperial-red);

	--card-bg: #ffffff;
	--border-color: var(--powder-blue);
	--meta-text: var(--celadon-blue);
	--button-bg: var(--imperial-red);
	--button-text: var(--honeydew);
	--input-bg: #ffffff;

	&[data-color-theme='dark'] {
		--background-color: var(--black);
		--text-color: var(--honeydew);
		--card-bg: #1a1a1a;
		--border-color: var(--prussian-blue);
		--input-bg: #121212;
	}
}

* {
	transition:
		color,
		background-color 0.5s ease;
}
